:root {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: white;
}

.product h2 {
	font-size: 2rem;
}

body {
	width: 100vw;
	height: 100vh;
}

.all .product {
	background-color: white;
	color: black;
}

.electronics .product  {
	background-color: rgb(0, 0, 0);
	color: rgb(0, 255, 0);
}

.jewelery .product  {
	background-color: rgb(119, 119, 119);
	color: rgb(255, 238, 0);
}

.mensclothing .product  {
	background-color: rgb(145, 87, 0);
	color: rgb(226, 192, 99);
}

.womensclothing .product  {
	background-color: rgb(253, 95, 240);
	color: rgb(161, 6, 141);
}